<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a
        href="https://www.facebook.com/profile.php?id=100028491378995&sk"
        target="blank">
        <i class="fa-brands fa-square-facebook"></i>
      </a>
      <a href="https://instagram.com/realamiit" target="blank">
        <i class="fa-brands fa-square-instagram"></i>
      </a>

      <a href="https://linkedin.com/in/realamiit">
        <i class="fa-brands fa-square-linkedin"></i>
      </a>

      <a href="https://x.com/realamit" target="blank">
        <i class="fa-brands fa-square-x-twitter"></i>
      </a>
    </div>
    <div class="f-info-brand">&copy; EWA(Explore With Amit)</div>

    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="term">Terms</a>
    </div>
  </div>
</footer>
